<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
   <application
       android:theme="@style/Theme.TranslAppTestTask"
       android:supportsRtl="true">
       <activity
           android:name=".presentation.view.favourites.FavouritesActivity"
           />
       <meta-data
           android:name="preloaded_fonts"
           android:resource="@array/preloaded_fonts" />
   </application>
</manifest>